
@import "normalize.css";
:root {
    --main-bg-color: #454d66;
    --main-contrast-color: #f6a361;
    --main-sc-color: rgba(61, 37, 170, 0.527);
  }

*{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
    padding: 0;
    margin: 0;
}

/* menu styles */

.menu{
    display: flex;
    flex-direction: column;
    top :0;
    width: 100%;
    background-color: #0005;
    color: var(--main-contrast-color);
    position: fixed;
    height: 50px;
    padding: 0;
    align-items: flex-end;
}
.menu__item{
    padding: 15px;
    height: 50px;
    display: inline;
}

.content{
    padding: 20px;
    margin: auto;
    margin-top: 70px;
    max-width: 1000px;
}

body{
    background-color: var(--main-bg-color);
    color: #fff;
}

h1{
    margin: 10px;
}

.selected{
    border: 2px solid var(--main-contrast-color);
}

.cat_container{
    background-color: #0002;
    border-radius: 5px;
    padding: 10px;
}

.cat_container__list{
    display: grid;
    gap: 10px;
    grid-auto-rows: 220px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.cat_container__media{
    display:flex;
    /*background-image: url("timg/timg1.jpg");*/
    background-size: 100% 100%;
    background-position: center;
    width: 150px;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: flex-end;
}

.cat_container__media_title{
    padding: 10px;
    width: 100%;
    max-height: 200px;
    font-size: 20px;
    background-color:   #000A;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.servers_container{
    display: inline-flex;
}

.servers_container__item{
    background-color: #0002;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.servers_container__section{
    background-color: rgba(61, 37, 170, 0.527);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px;
    border-bottom: var(--main-contrast-color) solid 2px;
}

.server_selected{
    background-color: rgba(61, 37, 170, 0.527);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    border-top: var(--main-contrast-color) solid 2px;
}


.center_message_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*links page*/
.links_container{
    margin: auto;
    border: 3px solid var(--main-contrast-color);
    border-radius: 10px;
    width: 800px;
}
.links_title{
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px;
}
.links_bar{
    display: flex;
    background-color: #0002;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: flex-end;
    align-items: center;
}
.links_close{
    height: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    line-height: 50%;
}

li{
    padding: 10px;
    display: block;
}

li:hover, .links_close:hover{
    background-color: rgba(61, 37, 170, 0.527);
    border-radius: 10px;
    outline: 2px solid var(--main-contrast-color);
}

ul{
    margin: 0px;
    padding: 0px;
}


/*  loading messages */
.lds-text {
    align-items: center;
 }
.lds-group{
    visibility: hidden;
    background-color: rgba(61, 37, 170, 0.527);
    width: 200px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border : 3px solid #f6a361;
    transform: translate(-50%, -50%);
}
.lds-dual-ring {
  margin-left: 57px;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
