.settings{
    position: absolute;
    height: 100vh;
    left: 80px;
    width: calc(100vw - 80px);
}

.settings-title{
    text-align: center;
    padding: 40px;
    font-size: 8vh;
}

.setting{
    display: flex;
    font-size: 4vh;
    width: calc(100% - 50px);
    margin: 0px 10px;
    border-bottom: 1px lightslategray solid;
    padding: 10px;
}

.settings-list{
    height: calc(92vh - 80px);
    position: relative;
    top: 0px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.setting-text{
    width: calc(100%);
}

.setting.colorselect::after{
    height: 25px;
    background-color:var(--tint-color);
    aspect-ratio: 1;
    content: "";
    margin-right: 0px;
}

.setting.active::after{
    content: "o";
    color: aquamarine;
    margin-right: 6px;
}

.setting::after{
    content: "x";
    color: red;
    margin-right: 6px;
}

.setting.selected{
    background-color: #fff4;
}

.color-square{
    width: 20px;
    aspect-ratio: 1;
    content: "";
    right: 10px;
}