.player{
    display: flex;
    position: absolute;
    z-index: 1001;
    left: 0px;
    padding-left: 70px;
    width: 100%;
    height: 100%;
    background: #000;
}

.player-container{
    position: relative;
    padding: 3px;
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 100vh;
}

.player video{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    outline: 0px !important;
    border: 0px !important;
}

.player-options{
    display: flex;
}

.player-video-container{
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-color: #000;
}

.player-option-list{
    flex-grow: 1;
    min-width: calc(25vw - 25px) ;
    max-width: calc(50vw - 20px);
    position:relative;
    padding: 3px;
    margin:  3px;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 1px solid lightgrey;
}

.player-option-list:after{
    content: "▾";
    position: absolute;
    right: 5px;
}

.player-option-title{
    flex-grow: 1;
    min-width: calc(25vw - 25px) ;
    max-width: calc(50vw - 35px);
    padding: 3px;
    margin:  3px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
}

.player-option-list.selected{
    background-color: #FFF4;
}

.vjs-big-play-button 
{
    display: none!important;
}

.video-js,.jwplayer{
    width: 100%;
    height: 100%;
    z-index: 1010;
}

.vjs-control-bar{
    z-index: 1010;
}

.vjs-texttrack-settings, .vjs-subs-caps-button, .vjs-picture-in-picture-control{
    display: none;
}

.jw-media video{
    z-index: 0 !important;
}

#player-container_1_0 {
    width: 100% !important;
    height: 100% !important;
}

.video-js .vjs-current-time{
    display: block !important;
}

.video-js .vjs-duration{
    display: block !important;
}

.plyr{
    height: 100%;
}

video::cue {
    position: relative;
    font-size: min(7vh, 7vw); /* Tamaño de la fuente */
    color: white; /* Color del texto */
    background-color: transparent; /* Fondo transparente */
    text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 2px 0 black, 2px 2px 0 black; /* Contorno */
}

.seek-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2em;
    z-index: 1020;
    pointer-events: none;
    text-align: center; /* Añadido para centrar el texto */
    line-height: 1.2; /* Añadido para un mejor espaciado */
}

