
.links_container {
    max-height: 95%;
    overflow-y: auto;
}
.details{
    margin: max(auto, 10px);
    padding: 10px;
    border-radius: 3px;
    background-color: #0003;
}

.details__container{
    display: flex;
}
.details__items{
    width: 100%;
}

.details__item{
    box-shadow: 1px 1px 3px #FFFA;
    margin: 10px;
    padding: 10px;
    background-color: #0002;
    border-radius: 3px;
}

.details__chapters{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(20%,3fr));
}

.details__add{
    color: #FFF;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--main-contrast-color);
    box-shadow: 0px 0px 2px #FFFA;
    text-align: center;
}

.details__add:hover{
    background-color: var(--main-sc-color);
    outline: 3px solid var(--main-contrast-color);
}

.details__image{
    margin: 10px;
    min-width: 160px;
    max-width: 200px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #FFFA;
}

.details__chaptes{
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    .details__chapters{
        display: block;
    }
    .details__container{
        display: block;
    }
    .details__image{
        max-width: 100%;
        width: calc(100% - 20px);
        height: auto;
        max-height: 50vh;
    }
}