:root {
	--modo: 2;
}

.items__title{
    margin: 0;
    padding: 10px;
}

.items__list{
    display: flex;
    overflow: hidden;
}

.items__list::after, .items__list::before{
    content: '.....';
    color: transparent;
}

.items__list {
    --scrollbar-width: 0px;
    --mask-height: 35px;
    height: 250px;
    padding-bottom: var(--mask-height);
    --mask-image-content: linear-gradient(
        to right,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: 100% 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: 0 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 100% 0, 0 0, 0 0, 0 0;
    mask-repeat: no-repeat, no-repeat;
}

.items__list .item{
    margin: 10px;
    display: flex;
    position: relative;
    min-width: 170px;
    max-width: 170px;
    height: 250Px;
}

.focus{
    border-radius: 3px;
    outline: 3px solid var(--main-contrast-color);
}

.item img{
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    background-color: #0005;
}

.item__title{
    position: absolute;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    background: linear-gradient(to top, #000a, #0005);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0;
    bottom: 0px;
    right: 0;
    max-height: 250px;
    padding: 10px;
    text-align: center;
}
.main-content{
    padding: 0;
    max-width: 100%;
    background-color: transparent;
}
.content{
    overflow: hidden;
}

@media not (pointer: fine) {
    .items__list{
        overflow: scroll !important;
        overflow: scroll !important;
    }    
}




