
.items{
    padding: 10px;
    background-color: #0003;
    margin-bottom: 10px;
    color: var(--main-contrast-color);
    border-bottom: 1px color-mix(in srgb, currentColor 50%, transparent)solid;
}

.items__title{
    color: #FFF;
    margin: 10px;
}

.items__list{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.items__list .item{
    color: #FFF;
    margin: 10px;
    display: flex;
    position: relative;
    max-width: 220px;
    min-width: 140px;
    max-height: 60vh;
    border-radius: 5px;
    border: 1px #FFF4 solid;
}

@media (hover: hover) and (pointer: fine) {
    .item:hover{
        border-radius: 3px;
        outline: 3px solid var(--main-contrast-color);
    }
}

.focus{
    border-radius: 3px;
    outline: 3px solid var(--main-contrast-color);
}

.item img{
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    background-color: #0005;
}

.item__title{
    position: absolute;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    background: linear-gradient(to top, #000a, #0005);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0;
    bottom: 0px;
    right: 0;
    max-height: 250px;
    padding: 10px;
    text-align: center;
}


@media (hover: hover) and (pointer: fine){
    .item:hover{
        border-radius: 3px;
        outline: 3px solid var(--main-contrast-color);
    }
    .button:hover{
        outline: 3px solid var(--main-contrast-color);
        background-color: var(--main-sc-color);
    }
    li:hover, .links_close:hover{
        background-color: rgba(61, 37, 170, 0.527);
        border-radius: 10px;
        outline: 2px solid var(--main-contrast-color);
    }
    .menu__item:hover, .select_server_active:hover, .menu__server__item:hover, .setting_option:hover{
        color: #FFF;
        background-color: var(--main-sc-color) !important;
    }
    .details__add:hover{
        background-color: var(--main-sc-color);
        outline: 3px solid var(--main-contrast-color);
    }
}

