:root {
    --main-bg-color: #454d66;
    --main-contrast-color: #f6a361;
    --main-sc-color: rgba(61, 37, 170, 0.527);
    --main-vw-color: #272;
  }

*{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-bg-color);
    color: #fff;
    height: 100%;
    margin: 0;
}

.button{
    display: block;
    padding: 10px;
    box-shadow: 0px 0px 2px #FFFA;
    background-color: #0002;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    left: 0;
    right: 0;
}

.favorite{
    background-color: var(--main-sc-color) !important;
}
@media (hover: hover) and (pointer: fine) {
    .button:hover{
        outline: 3px solid var(--main-contrast-color);
        background-color: var(--main-sc-color);
    }
}
.viewed{
    background-color: var(--main-vw-color);
}

.settings_group{
    margin: 0 auto;
    border-radius: 0px 0px 3px 3px ;
    background-color: black;
    width: 100%;
    padding: 0px !important;
}

.setting_option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting_option.focus{
    outline: none;
    background-color: var(--main-sc-color);
}

.setting_label {
    text-align: left;
    margin-right: 20px;
    line-height: 25px;
    font-size: 20px;
    margin: 10px;
}

div{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

/*windosw placeholder*/
.search_placeholder, .pages_placeholder, .video_placeholder, .details_placeholder, .settings_placeholder{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

.search_placeholder{
    background-color: var(--main-bg-color);
    animation-name: fadein;
    animation-duration: 0.3s;
}

.video_placeholder{
    background-color: #000D;
    max-height: 95vh;
    z-index: 900;
}
.settings_placeholder{
    animation-name: fadein;
    animation-duration: 0.3s;
    background-color: var(--main-bg-color);
    z-index: 990;
}

.pages_placeholder{
    animation-name: fadein;
    animation-duration: 0.3s;
    background-color: var(--main-bg-color);
    z-index: 700;
}
.details_placeholder{
    background-color: var(--main-bg-color);
    animation-name: fadein;
    animation-duration: 0.3s;
    z-index: 800;
}

.content{
    position: absolute;
    top: 50px;
    margin: auto;
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
}


.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* menu styles */
.menu{
    display: flex;
    justify-content: flex-end;
    top :0;
    width: 100%;
    background-color: #000F;
    position: fixed;
    height: 50px;
    padding: 0;
    z-index: 1000;
    margin: 0px;
}

.menu__item{
    display: block;
    padding: 5px;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.menu__server{
    margin-left: 65px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu__server div, .menu__server__item{
    padding: 0px 10px;
    line-height: 50px;
    text-align: center;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    background-color: #000F;
    border: none;
    height: 50px;
}
.select_server_active::after{
    content: "ˇ";
    margin-left: 10px;
}
@media (hover: hover) and (pointer: fine) {
    .menu__item:hover, .select_server_active:hover, .menu__server__item:hover, .setting_option:hover{
        color: #FFF;
        background-color: var(--main-sc-color) !important;
    }
}
.mfocus{
    background-color: var(--main-sc-color) !important;
}
#server__select__menu{
    display: none;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #000F;
    z-index: 1000;
}

.back{
    position: absolute;
    left: 0px;
    padding-left: 15px;
    display: none;
}

.selected{
    border: 2px solid var(--main-contrast-color);
}

.cat_container{
    background-color: #0002;
    border-radius: 5px;
    padding: 10px;
}

.cat_container__list{
    display: grid;
    gap: 10px;
    grid-auto-rows: 220px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.cat_container__media{
    display:flex;
    /*background-image: url("timg/timg1.jpg");*/
    background-size: 100% 100%;
    background-position: center;
    width: 150px;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: flex-end;
}

.cat_container__media_title{
    padding: 10px;
    width: 100%;
    max-height: 200px;
    font-size: 20px;
    background-color:   #000A;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.servers_container{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-flex;
}

.servers_container__item{
    display: flex;
    background-color: #0002;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;

}

.servers_container__more, .servers_container__search{
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 0px;
}
.servers_container__more{
    margin-left: 5px;
}
.servers_container__more__text{
    margin-top: -11px;
    margin-left: -2px;
}
.servers_container__text{
    margin: auto;
}
.servers_container__search__img{
    position: relative;
    top: -9px;
    left: -2px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: initial;
    border-radius: 50%;
}

.center_message_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*links page*/
.links_container{
    margin: auto;
    border: 3px solid var(--main-contrast-color);
    border-radius: 10px;
    min-width: min(95%, 1000px);
    max-width: 1000px;
    background-color: var(--main-bg-color);
    z-index: 6000;
}
.links_title{
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px;
}
.links_bar{
    display: flex;
    background-color: #0002;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: flex-end;
    align-items: center;
}
.links_close{
    height: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    line-height: 50%;
}

li{
    padding: 10px;
    display: block;
}

@media (hover: hover) and (pointer: fine) {
    li:hover, .links_close:hover{
        background-color: rgba(61, 37, 170, 0.527);
        border-radius: 10px;
        outline: 2px solid var(--main-contrast-color);
    }
}

ul{
    margin: 0px;
    padding: 0px;
}


/*  loading messages */
.lds-text {
    align-items: center;
 }
.lds-group{
    z-index: 10000;
    visibility: hidden;
    background-color: rgb(61, 37, 170);
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border : 3px solid #f6a361;
    transform: translate(-50%, -50%);
}
.lds-dual-ring {
  margin-left: 57px;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
