.video_container{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #000D;
    position: fixed;
}

.videoview{
    position: relative;
    aspect-ratio: 16/9;
    z-index: 9999;
    width: 100%;
    max-height: calc(100vh - 100px);
    padding: auto;
    margin: auto;
    background-color: #000;
}

#player, #video_placeholder_0_0{
    border-radius: 0px;
    outline: none !important;
}

.source_list{
    display: flex;
}

.source_item{
    padding: 10px;
    font-size: 2rem;
    border: #FFF5 2px solid;
    margin-bottom: 10px;
    width: calc(25vw - 27px);
    height: 3rem;
    text-align: center;
    margin: 2px;
    overflow: hidden;
    line-height: 3rem;
}

.source_item:hover{
    background-color: #FFF1;
}

.source_item.focus{
    border: 2px#FFFF solid;
    outline: 0px;
}

video.focus{
    outline: 0px;
}