
.video_placeholder{
    display: none;
    flex-direction: column;
}
.video_container{ 
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    flex-grow: 1;
}

.videoview{
    position: absolute;
    z-index: 9999;    
    height: 100%;
    width: 100%;

}

#player, #video_placeholder_0_0{
    border-radius: 0px;
    outline: none !important;
}

.source_list{
    display: flex;
    width: 100%;
    background-color: #000;
}

.source_item{
    padding: 10px;
    font-size: 2rem;
    border: #FFF5 2px solid;
    margin-bottom: 10px;
    width: calc(25vw - 27px);
    height: 3rem;
    text-align: center;
    margin: 2px;
    overflow: hidden;
    line-height: 3rem;
}

.source_item:hover{
    background-color: #FFF1;
}

.source_item.focus{
    border: 2px#FFFF solid;
    outline: 0px;
}

video.focus{
    outline: 0px;
}